<form [formGroup]="productForm" (ngSubmit)="submitForm()">
    <h1>{{ productId }}</h1>
    <!-- <input type="hidden" name="Id" [formControl]="Id"> -->
    <input type="hidden" name="Id" [formControl]="Id">
    <div class="fg">
        <label for="ProductCode">ProductCode</label>
        <input type="text" name="ProductCode" [formControl]="ProductCode">
        <div class="validations" *ngIf="ProductCode.touched  && ProductCode.errors && ProductCode.errors.required">ProductCode is required</div>
        <div class="validations" *ngIf="ProductCode.touched  && ProductCode.errors && ProductCode.errors.required">ProductCode is required</div>
    </div>
    <div class="fg">
        <label for="ProductName">ProductName</label>
        <input type="text" name="ProductName" [formControl]="ProductName">
        <div class="validations" *ngIf="ProductName.touched  && ProductName.errors && ProductName.errors.required">Product Name is required</div>
    </div>
    <div class="fg">
        <label for="Description">Description</label>
        <input type="text" name="Description" [formControl]="Description">
        <div class="validations" *ngIf="Description.touched  && Description.errors && Description.errors.required">Description is required</div>
    </div>
    <div class="fg">
        <label for="Price">Price</label>
        <input type="text" name="Price" [formControl]="Price">
        <div class="validations" *ngIf="Price.touched  && Price.errors && Price.errors.pattern">Only numbers allowed</div>
        <div class="validations" *ngIf="Price.touched  && Price.errors && Price.errors.required">Price is required</div>
    </div>
    <div class="fg">
        <label for="Stock">Stock</label>
        <input type="text" name="Stock" [formControl]="Stock">
        <div class="validations" *ngIf="Stock.touched && Stock.errors && Stock.errors.pattern">Only numbers allowed</div>
        <div class="validations" *ngIf="Stock.touched && Stock.errors && Stock.errors.required">Stock is required</div>
    </div>
    <h5>Images</h5>
    <div class="image-container">
        <div class="image-box" *ngFor="let imageUrl of tempImages">
            <img [src]="imageUrl" >
        </div>
    </div>
    <input type="file" (change)="imageUploadChange($event)" multiple>
    <div class="fg">
        <button type="submit">save prdocut</button>
        <!-- <button type="submit" [disabled]="!productForm.valid">save prdocut</button> -->
    </div>
    <h1> {{tempImages}}</h1>
</form>