.validations{
    color: red;
}

label{
    display: block;
}

.fg{
    margin: 20px;
}

.image-upload-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-container .image-box{
    width: 200px;
    height: 200px;
}


.image-container .image-box img{
    width: 100%;
}